<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer_license>
            <general>
                <enabled>1</enabled>
                <notification_days>-30,-7,-1</notification_days>
                <email_template>customer_license_general_email_template</email_template>
            </general>
            <cron>
                <schedule>0 0 * * *</schedule>
            </cron>
        </customer_license>
    </default>
</config>
