<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Vapewholesaleusa\CmindsSalesrep\Api\Data\SalesDataInterface" type="Vapewholesaleusa\CmindsSalesrep\Model\SalesData" />
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="Vapewholesaleusa_CmindsSalesrep::add_salesrep" type="Vapewholesaleusa\CmindsSalesrep\Plugin\Repository\Order"/>
    </type>
</config>
