<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Integration\Block\Adminhtml\Integration\Edit\Tab\Info">
        <plugin name="source_field_on_integration_edit_page"
                type="Vapewholesaleusa\OrderSource\Plugin\SourceFieldOnIntegration"
                sortOrder="1"/>
    </type>
    <type name="Magento\User\Block\User\Edit\Tab\Main">
        <plugin name="source_field_on_user_edit_page"
                type="Vapewholesaleusa\OrderSource\Plugin\SourceFieldOnUser"
                sortOrder="1"/>
    </type>
</config>
