<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vusa_rootways>
            <general>
                <years_range>12</years_range>
            </general>
        </vusa_rootways>
    </default>
</config>
