<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <store_credit_notifier>
            <general>
                <is_enabled>1</is_enabled>
                <queue_expr>0 0 * * *</queue_expr>
                <email_expr>0 12 * * *</email_expr>
                <per_day>200</per_day>
            </general>
            <email>
                <enabled>1</enabled>
                <identity>sales</identity>
                <template>store_credit_notifier_email_template</template>
                <copy_method>bcc</copy_method>
            </email>
        </store_credit_notifier>
    </default>
</config>
